@import url('https://fonts.googleapis.com/css?family=Irish Grover');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force font-sans on the body just to be 100% sure */
@layer base {

    :root {

        /* Color configuration */
        --color-primary-50: #FEDEBE;
        --color-primary-100: #FFAF42;
        --color-primary-200: #FF990F;
        --color-primary-300: #FE6E00;
        --color-primary-400: #FD5602;

        --color-address-free: #A6D997;
        --color-address-dynamic: #80E0E5;
        --color-address-reserved: #FFBB4F;
        --color-address-allocated: #A6D997;
        --color-address-remaining: #8baa8246;

        /* Text colors */
        --color-primary-text: #1F2937;
        --color-secondary-text: #6B7280;

        /* BG colors */
        --color-container-bg-basic: #FFFFFF;
        --color-container-bg-transparent: rgba(255, 255, 255, 0.25);

        /* Status colors */
        --color-status-info: #3B82F6;
        --color-status-success: #22C55E;
        --color-status-warning: #F59E0B;
        --color-status-error: #EF4444;

        /* SidBar colors */
        --color-sid-bar-bg: #FFFFFF;
        --color-sid-bar-primary-text: #1F2937;
        --color-sid-bar-secondary-text: #6B7280;
        --color-sid-bar-active-bg: rgba(255, 243, 232, 0.8);
        --color-sid-bar-haver-bg: rgba(255, 243, 232, 0.5);

        /* Form colors */
        --color-form-bg: #FFFFFF;
        --color-form-primary-text: #1F2937;
        --background: oklch(1 0 0);
        --foreground: oklch(0.145 0 0);
        --card: oklch(1 0 0);
        --card-foreground: oklch(0.145 0 0);
        --popover: oklch(1 0 0);
        --popover-foreground: oklch(0.145 0 0);
        --primary: oklch(0.205 0 0);
        --primary-foreground: oklch(0.985 0 0);
        --secondary: oklch(0.97 0 0);
        --secondary-foreground: oklch(0.205 0 0);
        --muted: oklch(0.97 0 0);
        --muted-foreground: oklch(0.556 0 0);
        --accent: oklch(0.97 0 0);
        --accent-foreground: oklch(0.205 0 0);
        --destructive: oklch(0.577 0.245 27.325);
        --border: oklch(0.922 0 0);
        --input: oklch(0.922 0 0);
        --ring: oklch(0.708 0 0);
        --chart-1: oklch(0.87 0 0);
        --chart-2: oklch(0.556 0 0);
        --chart-3: oklch(0.439 0 0);
        --chart-4: oklch(0.371 0 0);
        --chart-5: oklch(0.269 0 0);
        --radius: 0.625rem;
        --sidebar: oklch(0.985 0 0);
        --sidebar-foreground: oklch(0.145 0 0);
        --sidebar-primary: oklch(0.205 0 0);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.97 0 0);
        --sidebar-accent-foreground: oklch(0.205 0 0);
        --sidebar-border: oklch(0.922 0 0);
        --sidebar-ring: oklch(0.708 0 0);
    }

    /* Color configuration for Dark Mode*/
    .dark {

        /* Text colors */
        --color-primary-text: #1F2937;

        /* BG colors */
        --color-container-bg-basic: #1f2020;

        /* SidBar colors */
        --color-sid-bar-bg: #1F2937;
        --color-sid-bar-primary-text: #FFFFFF;
        --color-sid-bar-secondary-text: #CCCCCC;

        /* Form colors */
        --color-form-bg: #1F2937;
        --color-form-primary-text: #FFFFFF;
        --background: oklch(0.145 0 0);
        --foreground: oklch(0.985 0 0);
        --card: oklch(0.205 0 0);
        --card-foreground: oklch(0.985 0 0);
        --popover: oklch(0.205 0 0);
        --popover-foreground: oklch(0.985 0 0);
        --primary: oklch(0.922 0 0);
        --primary-foreground: oklch(0.205 0 0);
        --secondary: oklch(0.269 0 0);
        --secondary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.269 0 0);
        --muted-foreground: oklch(0.708 0 0);
        --accent: oklch(0.269 0 0);
        --accent-foreground: oklch(0.985 0 0);
        --destructive: oklch(0.704 0.191 22.216);
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.556 0 0);
        --chart-1: oklch(0.87 0 0);
        --chart-2: oklch(0.556 0 0);
        --chart-3: oklch(0.439 0 0);
        --chart-4: oklch(0.371 0 0);
        --chart-5: oklch(0.269 0 0);
        --sidebar: oklch(0.205 0 0);
        --sidebar-foreground: oklch(0.985 0 0);
        --sidebar-primary: oklch(0.488 0.243 264.376);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.269 0 0);
        --sidebar-accent-foreground: oklch(0.985 0 0);
        --sidebar-border: oklch(1 0 0 / 10%);
        --sidebar-ring: oklch(0.556 0 0);
    }
  .theme {
        --font-heading: var(--font-sans);
        --font-sans: 'Inter Variable', sans-serif;
    }
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}

.app-bg {
    background: linear-gradient(50deg,
            #FFAF42 2%,
            #FB7185 40%,
            #FB7185 100%);
}